.modal-content {
    background-color: white;
    padding: 40px;
    border-radius: var(--borderRadius);
    width: 35%;

    h3 {
        color: var(--slatedark);
    }

    p {
        font-size: 1rem;
        text-align: start;
        font-weight: bold;
        color: var(--red);
    }

    form div {
        display: grid;
        justify-content: stretch;
    }

    form input {
        background-color: var(--grey);
        border: none;
        color: var(--slatedark);
    }

    form input[type='text'] {
        border: none;
    }

    fieldset {
        display: flex;
        gap: 8px;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    select {
        padding: 8px;
        background-color: var(--grey);
        color: var(--slatedark);
        border-radius: var(--borderRadius);
        border: none;
    }
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    z-index: 99;
}
