table {
    border-collapse: collapse;
    background-color: var(--slatedark);
    border-radius: var(--borderRadius);
    padding: 24px;
    width: 100%;
}

tbody tr {
    border-top: 2px solid var(--bgColor);
}

th,
td {
    padding: 20px;
}
